/*::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}*/

@font-face {
    font-family: inconsolata;
    src: url(sansation_light.woff);
}


.quoteHeader {
	font-size: 1.2em;
	font-style:italic;
	color: darkGreen;
	line-height: 1.6em
}
.attribution {
	font-size: .8em;
	font-style:italic;
	color: black;
	line-height: 1.6em	
}

.postTitle {
	font-size: 1.17em;
	border-color: black;
}

.evernote.post {
		/*border: 1px solid gainsboro;*/
		background-color: ghostwhite;
		padding: 2em;
		margin: 1em;
		overflow: scroll;
	}

.evernote img {
	width: 30vw;
	height: 30vw;
}

body {
	font-family: 'Inconsolata', monospace;
	font-size: 1em;
	line-height: 1.6em
}

#nav {
	text-align: center
}

.main-container {
	margin: 0 auto;
	margin-top: 5vh;
	width: 75vw;
}
p {
	line-height: 1.6em; 
}

#about {
	/*padding: 4vw;*/
	margin: 0 auto;
}

#projects.main-container {
	display: grid;
	grid-template-columns: repeat(3, 25vw);
	grid-template-rows: repeat(3, 15vw);
	grid-gap: 20px;
}

.project {
	position: relative;
	background-color: gray;
	color: transparent;
}

.project:hover .background-image {
	opacity: 0.0;
	transition: 0.125s;
}

.project:hover { 
    background-color: darkGreen;
    color: black;

}

.project .background-image {
	background-size: cover;
	position: absolute;
	width: 100%;
	height: 100%;
}

.project .content {
	position: absolute;
	width: 100%;
	height: 100%;
}

a {
	color: gray;
}

.projectLink {
	opacity: 0.0;
	color: black;

}

.projectLink:hover {
	opacity: 1.0;
}

.postImg {
	width: 20vw;
}
.button {
	margin: 4vh;
	text-align: center;
	font-family: inconsolata;
}

h1 {
	font-family: inconsolata;
	color: darkGreen;
	text-align: center;
	margin-bottom: 2vw;
	font-size: 3em;
}

h2 {
	text-align: center;
	font-size: 1em;
	margin-top:2vw;
	margin-bottom:1vw;
	font-weight:normal;
}