html, body{
width: 100vw;
height: 100vh;

}

svg{
display: block;
width: 100%;
height: 100%;
padding: 0;
margin: 0;
position:absolute;

}

.sampleSVG {
	position: absolute;
	left: 500vw;
}

path{
stroke-linecap: square;
stroke: white;
stroke-width: 0.5px;
}

#viz-box{
	text-align: center;
	font-size: 3em;
	vertical-align: middle;
	color: white;
	margin: auto;
}