@font-face {
	font-family: "Baton";
	src: url("fonts/BatonTurbo-Bold.woff") format('woff');
}


@font-face {
	font-family: "AdelleHeavy";
	src: url("fonts/adelle/Adelle_Heavy.woff") format('woff');
}

@font-face {
	font-family: "AdelleLight";
	src: url("fonts/adelle/Adelle_light.woff") format('woff');
}


body {
	margin: 0;
	font-family: AdelleLight;
	color: #4f4b4b;
}

a {
	color: black;

}

p {
	font-size: 1.5rem;
	line-height: 2rem;
}

.icon {
	padding: 1rem;
}

.click-me {
	position: absolute;
	top: 50%;
	font-family: Baton;
	text-align: center;
	padding-top: 40%
}

#nav-bar{
	background-color: lightgray;
	padding-top: 1rem;
	width: 100%;
	padding-bottom: 1rem;
}

.banner-ad {
	width: calc(5/6*100vw);
	/*background-color: lightgray;*/
	margin-top: 1rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
}


.header-image-row {
	margin-left:auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
	/*background-color: lightgray;*/
	padding: 1rem;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;

}

.header-image {
	/*background-color: gray;*/
	overflow: hidden;
}

#meta {
	margin-left:auto;
	margin-right: auto;
	margin-top: 1rem;
	margin-bottom: 4rem;
	/*background-color: lightgray;*/
	width: calc(.66*100vw);
	font-size: 1.5rem;


}

#meta > div {
	/*#meta div this means any div inside of meta, even if it's a grandchild, #meta>div is just direct descendent*/
	text-align: center;
}

.related {
	margin-left: 10rem;
	margin-top: 4rem;
	width: 80vw;
	margin-bottom: 4rem;
	text-align: center;

}

.related-grid {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr;
	grid-column-gap: 1rem;
}

.related-content {
	/*background-color: lightgray;*/
	margin-top: 1rem;
}


.intro {
	margin-left:10rem;
	margin-top: 1rem;
	margin-bottom: 1rem;
	width: 50vw;
}

.rule-ad-box {
	margin-left:10rem;
	margin-top: 4rem;
	margin-bottom: 1rem;
	/*background-color: lightgray;*/
}

.rule-box {
	width: 50vw;
	display:inline-block;
}

.ad-box {
	/*background-color: blue;*/
	margin-left: 4rem;
	display: inline-block;
	width: 30vw;
	vertical-align: top;
	

}

.ad-img {
	border: 1px solid gray;
}


.rule-img {
	width: 100%;
	background-color: orange;
	/*height: 40vh;*/
}

.rule-header {
	width: 100%;
	display: block;
}


.rule-number {
	display: inline-block;
	height: 7rem;
	width: 18%;
	vertical-align: top;
	color: #FA7268;
	font-family: AdelleHeavy;
	font-size: 10rem;
	margin-top: 3rem;
}

.rule-title {
	display: inline-block;
	width: 75%;
	font-family: Baton;
	font-size: 3rem;
	line-height: 3rem;
	margin-bottom: 1rem;
}


#logo-daisy {
	font-family: Baton;
	font-size: 2.25rem;
	color: #FA7268;
	font-variant: small-caps;
	padding-left: 1rem;
}

#logo-chain {
	font-size: 1.75rem;
	color: ##4f4b4b;
	font-family: AdelleLight;
}

.menu-item {
	font-family: Baton;
	font-size: 1rem;
	margin-left: 2rem;
	vertical-align: center;
}

.menu-item:hover {
	color: black;
}

img {
	width: 100%;
}

#category {
	color: #FA7268;
}

#title {
	font-family: Baton;
	font-size: 4rem;
	line-height: 4rem;
	margin-bottom: 1rem;
	margin-top: 2rem;
}

#slides {
	font-family: Baton;
	margin-bottom: 2rem;

}

.sans-serif-numbers {
	font-family: sans-serif;
	font-weight: bold;
}

#subtitle {

}

#byline {
	font-family: Baton;
	margin: 2rem;
	color: #FA7268;
}


.rule-about {
	margin-bottom: 2rem;
	font-family: sans-serif;
	font-size: 1rem;
	line-height: 1.5rem;
}

.about-outfit {
	color:  #FA7268;
	font-family: Baton;
}

.rule-source {
	color: black;
	font-size: 1rem;
}

.related-header {
	font-family: Baton;
	font-size: 3rem;
	line-height: 3rem;
	border-bottom: 1px solid gray;
}


#big-back-button {
	position: fixed;
	top: 45vh;
	font-family: sans-serif;
	font-weight: bold;
	font-size: 2rem;
	color:white;
	background-color: #FA7268;
	border-radius: 5rem;
	left: -6rem;
	text-align: right;
	padding: 2rem;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding-left: 6rem;
	padding-right: 1rem;
	
}

.ad-label {
	font-family: sans-serif;
	font-size: .75rem;
	text-align: center;
	margin-bottom: 0px;
}

.sidebar-img {
	height: 25vh;
	object-fit: cover;
	object-position: top;
}


.sidebar-title>a{
	font-family: Baton;
	text-decoration: none;
	
}

.sidebar-title>a:hover{

	text-decoration: underline;
}

.sidebar-category {
	color: #FA7268;
}

.footer a {
	color: gainsboro;
}
.footer {
	margin-top: 4rem;
  	padding: 4rem;
  	background-color: #4f4b4b;
  	color: gainsboro;
  	font-family: Baton;
}

.footer p {
	font-size: 1rem;
	width: 60%;
}

.footer-text {
	font-family: AdelleLight; 

}


.footer-line{
	padding-bottom: 2rem;
	margin-bottom: 2rem;
	border-bottom: 1px solid #FA7268;
}

@media (hover:none){
	.menu-item {
		display:none;
	}

	.banner-ad {
		display: block;
		width: 100%;

	}

	.ad-box {
		display: block;
		width: 90%;
		margin:auto;
	}
	.dc-logo {
		height: 100%;
	}

/*	.header-image-row {
		display: block;
		width: 100%;
	}

	.header-img {
		display: block;
		width: 100%;
	}*/
/*	.rule-box {
		display: block;
		width: 100%;
	}*/
	.intro {
		display: block;
		width: 90%;
		margin: auto;
	}
	.rule-img {
		width: 100%;
		display: block;
	}

	.related {
		margin: auto;
		width: 100vw;
	margin-bottom: 4rem;
	text-align: center;

}

	.related-grid {
		display: block;

	}
	.rule-number, .rule-title {
		display: block;
	}

	.rule-ad-box {
		margin:auto;
		width: 90%;
	}

	.rule-box{
		width: 100%;
	}


}

@media (hover:hover){
	.header-image-row {
		height: 42vw;
	}
}
