<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/style.css'>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>




<h1>Brilliant Imperfection</h1>
<h2>Miriam's Program of Study at <a href="https://www.powderhouse.org">Powderhouse Studios</a></h2>
<div id="nav">
	<a class='button' href="/index.html">About</a>
	<a href="/journal.html" class='button'>Journal</a>
	<a href='/projects.html' class='button'>Projects</a>
	</div>


{{ content }}

</body>
</html>