<!DOCTYPE html>
<html>
<head>
	<title></title>
	<link rel='stylesheet' href='/style.css'>
	<link href="https://fonts.googleapis.com/css?family=Inconsolata" rel="stylesheet">
</head>
<body>



<h1>Making It Good Enough</h1>
<h2>Miriam's Program of Study at <a href="https://www.powderhouse.org">Powderhouse Studios</a></h2>
<div id="nav">
	<a href="/index.html" class='button' >About</a>
	<a href="/journal.html" class='button'>Fieldnotes & Journal</a>
	<a href='/projects.html' class='button'>Projects</a>
	</div>


<div id=main-container>
{{ content }}
</div>

</body>
</html>